*{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
body{
    background-color: white;
    
}
svg path:nth-child(1){
    stroke-dasharray: 1100;
    stroke-dashoffset: 1100;
    animation: h 5s linear forwards;

}
svg path:nth-child(2){
    stroke-dasharray: 1300;
    stroke-dashoffset: 1300;
    animation: h 5s linear forwards;

}
svg path:nth-child(3){
    stroke-dasharray: 1300;
    stroke-dashoffset: 1300;
    animation: h 5s linear forwards;

}

svg path:nth-child(4){
    stroke-dasharray: 1100;
    stroke-dashoffset: 1100;
    animation: h 5s linear forwards;

}

svg path:nth-child(5){
    stroke-dasharray: 1100;
    stroke-dashoffset: 1100;
    animation: h 5s linear forwards;

}

svg path:nth-child(6){
    stroke-dasharray: 1100;
    stroke-dashoffset: 1100;
    animation: h 5s linear forwards;

}

svg path:nth-child(7){
    stroke-dasharray: 1100;
    stroke-dashoffset: 1100;
    animation: h 5s linear forwards;

}
@keyframes h{
    0%{
        stroke-dashoffset: 0;

    }
    100%{
        stroke-dashoffset: 100%;
        stroke-dasharray: 0%;
    }

}


