*{
  background-color: rgb(16, 1, 1);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fdf4f4;
}

nav .navbar img{
  max-width: 10%;
  margin-top:5px;
  margin-left: 5px;
  
}
.cards{
  display: flex;
  text-align: center;
}
.one{
  border: 2px solid #f3f3f3;
  margin: 0 10px;
  background-color: white;
  color:black;
}
.two{
  border: 2px solid #f3f3f3;
  background-color: white;
  color:black;
}
.three{
  border: 2px solid #f3f3f3;
  margin-left:10px;
  background-color: white;
  color:black;
}