.circle{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(113, 52, 169);
    border-radius: 50%;
  
  }
  .circle1{
    position: absolute;
    left: 80px;
    width: 100px;
    height: 100px;
    background-color: rgb(37, 7, 66);
    border-radius: 50%;
  
  }