*{
   margin: 0;
   padding: 0;
   background-color: rgb(197, 195, 195);
   box-sizing: border-box;
}
nav .logo img{
    object-fit: contain;
    background-color: transparent;
    max-width: max-content;
    
 }
  nav{
    background-color:rgb(73, 120, 230);
    box-shadow: 0px 0px 10px rgb(78, 78, 78);
    display: flex;
    padding: 5px 5px;
    justify-content: space-between;
    margin: 20px;
    height: 70px;
 }
  nav .logo1{
    display: flex;
    size: 10px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 10px rgb(170, 154, 8);


  }
  nav .logo1 .home{
   display: block;
  color: hsl(0, 0%, 0%);
  text-align: center;
  padding: 10px 5px;
  margin: 5px;
  text-decoration: none;
  cursor: pointer;
   
  }
  .container {
    overflow-y: hidden;
    overflow-x: scroll;
    margin:0.5% 0.5%;
    display: flex;
    text-align: center;
    border-width: 1000px;
}
  .card {
    background-color: #ffffff;
    box-sizing: content-box;
    padding: 100px;
    border: 1px solid #ffffff;
    margin: 5px 10px;
    transition: transform 420ms; 
}
