
.cards{
    display: flex;
    margin: 10px 20px;
    text-align: center;
    padding: 5px 10px;
    
}
.cards .card{
    border: 2px solid #111;
  margin: 20px 30px;
  transition: transform 420ms;
}
.cards .card-img{
object-fit: contain;
max-width: 40%;
}
.cards .card:hover{
    transform: scale(1.09);
} 