.box {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: rgb(253, 133, 223);
  
  }
  .box1{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 100px;
    background-color: rgb(223, 43, 172);
  
  }
  .box2{
    position: absolute;
    bottom: 45px;
    left: 45px;
    width: 50px;
    height: 50px;
    background-color: rgb(225, 16, 121);
  
  }